@page
@model EnIndexModel
@{
    ViewData["Title"] = "Yotsuba";
}
<h1>@ViewData["Title"]</h1>

<p>
    A Japanese language and culture meetup held every week in Dublin.
    We hope to be back soon.
</p>
